<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>{{user?.firstName}} {{user?.lastName}}</strong>
      </c-card-header>
      <c-card-body>
        Email: <strong>{{user?.email}}</strong><br>
        Mobile: <strong>{{user?.mobile}}</strong><br>
        Referer Code: <strong>{{user?.referCode}}</strong><br>
        Country: <strong>{{user?.country}}</strong><br>
        City: <strong>{{user?.city}}</strong><br>
        Education: <strong>{{user?.education}}</strong><br>
        Gender: <strong>{{user?.gender}}</strong><br>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
