<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Gifts</strong>
      </c-card-header>
      <c-card-body>
        @if (loading){
        <c-spinner style="display: block; margin: 0 auto"></c-spinner>
        } @if (!loading && !displayForm){
        <button
          (click)="displayAddGift()"
          class="mb-3"
          cButton
          color="primary"
          variant="outline"
        >
          Add New Gift
        </button>
        } @if (!displayForm && !loading){
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-secondary"></th>
              <th class="bg-body-secondary">Condition</th>
              <th class="bg-body-secondary">condition Quantity</th>
              <th class="bg-body-secondary">reward</th>
              <th class="bg-body-secondary">reward Quantity</th>
              <th class="bg-body-secondary">Active</th>
              <th class="bg-body-secondary">Edit</th>
              <th class="bg-body-secondary">Delete</th>
            </tr>
          </thead>
          <tbody>
            @for (gift of gifts;track gift.Condition;let i = $index) {
        <tr>
          <td>
            <div class="avatar">
              <img
                class="avatar-img"
                [src]="
                      gift?.icon
                        ? environment.baseUrl + gift?.icon
                        : '/assets/images/frame.png'
                    "
              />
            </div>
          </td>
          <td>
            {{ gift?.condition?.type }}
          </td>
          <td>
            {{ gift?.condition?.quantity }}
          </td>
          <td>
            {{ gift?.reward?.type }}
          </td>
          <td>
            {{ gift?.reward?.quantity }}
          </td>
          <td>
            <c-form-check [switch]="true">
              <input
                [checked]="gift.isActive"
                style="cursor: pointer"
                cFormCheckInput
                type="checkbox"
                (change)="onCheckedChange(gift._id, $event)"
              />
            </c-form-check>
          </td>
          <td>
            <button cButton color="light" (click)="displayAddGift(gift)">
              <svg cIcon name="cilPencil"></svg>
            </button>
          </td>
          <td>
            <button cButton color="light" (click)="toggleModal(gift._id)">
              <svg cIcon name="cilTrash"></svg>
            </button>
          </td>
        </tr>

        }
        </tbody>
      </table>
      <c-toaster [placement]="position" class="p-3" position="fixed">
        <c-toast
          (timer)="onTimerChange($event)"
          (visibleChange)="onVisibleChange($event)"
          [visible]="visibleToast"
        >
          <c-toast-header> Message </c-toast-header>
          <c-toast-body>
            <p>{{ message }}</p>
            </c-toast-body>
          </c-toast>
        </c-toaster>
        <br />
        } @if (displayForm){
        <form cForm [formGroup]="giftForm" (ngSubmit)="submitNewGift()">
          <div class="w-100 d-inline-flex">
            <div class="w-25 m-3">
              <label cLabel for="condition">Condition</label>
             <select
                aria-label="Default select example"
                cSelect
                cFormControl
                formControlName="condition">
                <option *ngFor="let condition of achievementConditions | keyvalue" [value]="condition.key">{{
        condition.value}}</option>
              </select>
            </div>
            <div class="w-25 m-3">
              <label cLabel for="conditionQuantity">Condition Quantity</label>
              <input
                cFormControl
                formControlName="conditionQuantity"
                id="conditionQuantity"
                type="number"
              />
            </div>
          </div>
          <div class="w-100 d-inline-flex">
            <div class="w-25 m-3">
              <label cLabel for="reward">Reward</label>
             <select
                aria-label="Default select example"
                cSelect
                cFormControl
                formControlName="reward">
                <option *ngFor="let reward of achievementRewards | keyvalue" [value]="reward.key">{{reward.value}}</option>
              </select>
            </div>
            <div class="w-25 m-3">
              <label cLabel for="rewardQuantity">Reward Quantity</label>
              <input
                cFormControl
                formControlName="rewardQuantity"
                id="rewardQuantity"
                type="number"
              />
            </div>
          </div>
          <div class="w-25 m-3">
              <label cLabel for="rewardQuantity">Show Modal</label>
          <input class="form-check-input" formControlName="showModal" type="checkbox">
          </div>
          <div class="w-25 m-3">
              <label cLabel for="rewardQuantity">Link</label>
          <input cFormControl formControlName="link" type="text">
          </div>
          <div class="w-75 m-3">
            <label cLabel for="name">Description Of Gift</label>
            <textarea
              rows="3"
              cFormControl
              formControlName="description"
              id="description"
              type="text"
            ></textarea>
          </div>
           <div class="w-75 m-3">
            <label cLabel for="name">Farsi Description Of Gift</label>
            <textarea
              rows="3"
              cFormControl
              formControlName="descriptionFa"
              id="descriptionFa"
              type="text"
            ></textarea>
          </div>
          <div class="m-3">
            <label cLabel for="name">Icon Of Gift</label>
            <input
              type="file"
              (change)="handleFileInput($event)"
              class="form-control mt-2"
            />
            @if (imgSrc){
        <br>
        <img [src]="environment.baseUrl + imgSrc" width="100px"/>
        <br>
        }
        </div>
        <div role="alert" style="color: #ff5722; margin: 10px 0">
        {{ error }}
        </div>
        <input
          cButton
          color="primary"
          [disabled]="loadingSubmit || giftForm.invalid"
          type="submit"
        />
        <button
          (click)="displayAddGift()"
          cButton
          color="secondary"
          variant="outline"
        >
          Back
        </button>
      </form>
        }@for (item of gifts; track item?.condition;let i = $index){ @if (item.condition
        && !displayForm && !loading){
        <div cListGroup class="mb-3">
          <div cListGroupItem>
            <c-modal
              id="liveDemoModal"
              [visible]="visible"
              (visibleChange)="handleLiveDemoChange($event)"
            >
              <c-modal-header>
                <h5 cModalTitle>Delete Gift</h5>
                <button (click)="toggleModal()" cButtonClose></button>
              </c-modal-header>
              <c-modal-body>Do you want to delete this Gift?</c-modal-body>
              <c-modal-footer>
                <button (click)="deleteGift()" cButton color="secondary">
                  Yes
                </button>
                <button (click)="toggleModal()" cButton color="primary">
                  No
                </button>
              </c-modal-footer>
            </c-modal>
          </div>
        </div>
        } }
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
