<input
  type="text"
  [(ngModel)]="searchQuery"
  (input)="searchUsers()"
  placeholder="Searching base on Name/Email"
  class="form-control mb-3"
  style="width: 30%"
>
<c-nav variant="tabs">
  <c-nav-item *ngFor="let nav of panes; index as i">
    <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="i" cNavLink>
      {{nav.name}}
    </a>
  </c-nav-item>
</c-nav>
<c-tab-content #tabContent="cTabContent"
               (activeTabPaneIdxChange)="onTabChange($event)"
               [activeTabPaneIdx]="activePane">
  <c-tab-pane *ngFor="let pane of panes; index as i;" class="p-3">
    <table
      [hover]="true"
      [responsive]="true"
      [striped]="true"
      align="middle"
      cTable
      class="mb-0 border"
    >
      <thead class="text-nowrap text-truncate">
      <tr>
        <th class="bg-body-secondary"></th>
        <th class="bg-body-secondary">Name</th>
        <th class="bg-body-secondary">Email</th>
        <th class="bg-body-secondary">Created</th>
        <th class="bg-body-secondary">Referer</th>
        <th class="bg-body-secondary">Active</th>
        <th class="bg-body-secondary">action</th>
      </tr>
      </thead>
      <tbody>
      @for (user of paginatedUsers; track user.firstName;let i = $index) {
      <tr>
          <td>
          <div class="avatar">
  <img class="avatar-img" [src]="'http://staging.api.1qma.games/' + user?.profilePicture" alt="user@email.com">
</div>
                </td>
        <td>
          <div class="fw-semibold">{{ user.firstName }} {{user.lastName}}</div>
                  <div class="small text-body-secondary text-nowrap">
                  </div>
                </td>
                <td>
                  <div class="d-flex justify-content-between">
                    <div class="float-start fw-semibold">
      {{ user.email }}
      </div>
    </div>
  </td>
  <td>
    <div class="fw-semibold text-nowrap">{{ user.created_at }}</div>
                </td>
                  <td>
                  <div class="fw-semibold text-nowrap">{{ user.referer?.firstName }} {{user.referer?.lastName}}</div>
                </td>
                  <td>
<c-form-check [switch]="true">
  <input [checked]="user.isActive" style="cursor: pointer;"  cFormCheckInput type="checkbox" (change)="onCheckedChange(user._id, $event)" />
</c-form-check>
                </td>
                 <td>
                  <div class="fw-semibold text-nowrap" style="cursor: pointer;" (click)="gotoDetail(user)"><svg cIcon name="cilArrowRight" size="lg"></svg></div>
                </td>
              </tr>
      }
      </tbody>
    </table>
    <c-toaster [placement]="position" class="p-3" position="fixed">
      <c-toast
        (timer)="onTimerChange($event)"
        (visibleChange)="onVisibleChange($event)"
        [visible]="visible">
        <c-toast-header>
          Message
        </c-toast-header>
        <c-toast-body>
          <p>{{message}}</p>
          <!--          <c-progress thin>-->
          <!--            <c-progress-bar [value]="percentage"></c-progress-bar>-->
          <!--          </c-progress>-->
        </c-toast-body>
      </c-toast>
    </c-toaster>
    <br>
    <c-pagination aria-label="Page navigation example">
      <li cPageItem>
        <a cPageLink aria-label="Previous" (click)="previousPage()"><span aria-hidden="true">&laquo;</span></a>
      </li>
      <li cPageItem *ngFor="let page of pages" [class.active]="page === currentPage">
        <a cPageLink (click)="goToPage(page)">{{ page }}</a>
      </li>
      <li cPageItem>
        <a cPageLink aria-label="Next" (click)="nextPage()"><span aria-hidden="true">&raquo;</span></a>
      </li>
    </c-pagination>
  </c-tab-pane>
</c-tab-content>


