<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Wizard Questions</strong>
      </c-card-header>
      <c-card-body>
        @if (loading){
        <c-spinner style="display: block; margin: 0 auto"></c-spinner>
        }
        @if (!loading && !displayForm){
        <button (click)="displayAddQuestion()" class="mb-3" cButton color="primary" variant="outline">Add New Question
        </button>
        }
        @if (displayForm){
        <form cForm [formGroup]="questionForm" (ngSubmit)="submitNewQuestion()">
          <div class="mb-3">
            <label cLabel for="name">Question</label>
            <input cFormControl formControlName="question" id="question" type="text">
          </div>
            <div class="mb-3">
            <label cLabel for="name">Placeholder</label>
            <input cFormControl formControlName="placeholder" id="placeholder" type="text">
          </div>
           <div class="mb-3">
            <label cLabel for="type">Question type</label>
            <select aria-label="Default select example" cSelect cFormControl formControlName="type">
              <option value="multiple_options">multiple_options</option>
              <option value="text">Text</option>
              <option value="select">Select</option>
              <option value="toggle">Toggle</option>
            </select>
          </div>
            <div *ngIf="questionForm.get('type')?.value === 'multiple_options' || questionForm.get('type')?.value === 'select'">
            <label cLabel for="type">Add Options</label>
                <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
                  <div formArrayName="textInputs" class="mb-3 w-100">
                    <div *ngFor="let input of textInputs.controls; let i = index" class="m-2 d-inline-flex">
                      <input [formControlName]="i" id="textInput-{{i}}" type="text" class="me-1 form-control"/>
                       <button cButton color="light" (click)="removeTextInput(i)">
              <svg cIcon name="cilTrash"></svg>
            </button>
                    </div>
                  </div>
                   <button cButton color="light" (click)="addTextInput()">
              <svg cIcon name="cilPlus"></svg>
            </button>
                </form>
        </div>
<br>
<br>
        <div role="alert" style="color: #ff5722; margin: 10px 0">
        {{error}}
        </div>
        <input cButton color="primary" [disabled]="loadingSubmit || questionForm.invalid" type="submit">
        <button (click)="displayAddQuestion()" cButton color="secondary" variant="outline">Back
      </button>
      </form>
        }

        @for (item of questions; track item.question;let i = $index){
        @if (item.question && !displayForm){
        <div cListGroup class="mb-3">
          <div cListGroupItem>
            <div style="width: 30%; display: inline-block">{{item?.question}}</div>
            <button cButton color="light" (click)="displayAddQuestion(item, item._id)">
              <svg cIcon name="cilPencil"></svg>
            </button>
            <button cButton color="light" (click)="toggleModal(item._id)">
              <svg cIcon name="cilTrash"></svg>
            </button>
            <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
              <c-modal-header>
                <h5 cModalTitle>Delete Question</h5>
                <button (click)="toggleModal()" cButtonClose></button>
              </c-modal-header>
              <c-modal-body>Do you want to delete this question?</c-modal-body>
              <c-modal-footer>
                <button (click)="deleteQuestion()" cButton color="secondary">
                  Yes
                </button>
                <button (click)="toggleModal()" cButton color="primary">No</button>
              </c-modal-footer>
            </c-modal>
          </div>
        </div>
        }
        }
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
