<c-row>
  <c-col [sm]="3">
    <c-card class="text-center mb-4">
      <c-card-header>Number of Users</c-card-header>
      <c-card-body>
        <h5 cCardTitle>5</h5>
<!--        <button cButton color="primary">Go To Users Page</button>-->
      </c-card-body>
    </c-card>
  </c-col>
  <c-col [sm]="3">
    <c-card class="text-center mb-4">
      <c-card-header>Number of Games Played</c-card-header>
      <c-card-body>
        <h5 cCardTitle>5</h5>
<!--        <button cButton color="primary">Go To Users Page</button>-->
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
