<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Categories</strong>
      </c-card-header>
      <c-card-body>
        @if (loading){
        <c-spinner style="display: block; margin: 0 auto"></c-spinner>
        }
        @if (!loading && !displayForm){
        <button (click)="displayAddCategory()" class="mb-2" cButton color="primary" variant="outline">Add New Category
        </button>
        }
        @if (displayForm){
        <form cForm [formGroup]="categoryForm" (ngSubmit)="submitNewCategory()">
          <div class="mb-3">
            <label cLabel for="name">Name Of Category</label>
            <input cFormControl formControlName="name" id="name" type="text">
          </div>
           <div class="mb-3">
            <label cLabel for="name">Icon Of Category</label>
           <input type="file" (change)="handleFileInput($event)"
                                 class="form-control mt-2">
                                  @if (imgSrc){
        <img [src]="'http://staging.api.1qma.games/' + imgSrc" width="100px"/>
        }
        </div>
   <div role="alert" style="color: #ff5722; margin: 10px 0">
        {{error}}
        </div>
           <input cButton color="primary" [disabled]="loadingSubmit || categoryForm.invalid" type="submit">
            <button (click)="displayAddCategory()" cButton color="secondary" variant="outline">Back
         </button>
         </form>
        }

        @for (item of categories; track item.name;let i = $index){
        @if (item.name && !displayForm){
        <ul cListGroup>
          <li cListGroupItem>
            <div style="width: 20%; display: inline-block">{{item?.name}}</div>
            <button cButton color="light" (click)="displayAddCategory(item.name, item._id, item.icon)">
              <svg cIcon name="cilPencil"></svg>
            </button>
            <button cButton color="light" (click)="toggleModal()">
              <svg cIcon name="cilTrash"></svg>
            </button>
            <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
              <c-modal-header>
                <h5 cModalTitle>Delete Category</h5>
                <button (click)="toggleModal()" cButtonClose></button>
              </c-modal-header>
              <c-modal-body>Do you want to delete this category?</c-modal-body>
              <c-modal-footer>
                <button (click)="deleteCategory(item._id)" cButton color="secondary">
                  Yes
                </button>
                <button (click)="toggleModal()" cButton color="primary">No</button>
              </c-modal-footer>
            </c-modal>
          </li>
        </ul>
        }
        }
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
